.panel{
    width: 100%;
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
    h3{
        border-bottom: 1px dashed #999;
        margin: 0;
        line-height: 2.4em;
        color: #333;
    }
    p, h3{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    time, span{
        display: inline-block;
        margin-top: .6em;
        color: #999;
        font-size: 14px;
    }
    p{
        color: #666;
    }
}

@media (min-width: 980px) {
    .panel{
        box-shadow: 0 0 20px #666;

    }
}
