#main{
    margin: auto;
    max-width: 1032px;
    overflow: auto;
}

@media (min-width: 980px) {
    #main{
        padding: 40px 10px;
        box-sizing: border-box;
        overflow: visible;
    }
}
